.projectsFilter {
  margin: 0 0 20px 0;
  &__title {
    font-weight: bold;
    margin: 0 0 3px 0;
  }
  &__list {
    display: flex;
  }
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
  .projectsFilter {
    margin: 0 0 20px 0;

    &__list {
      flex-direction: column;
    }
  }
}
