.projectsAside {
  background: #fff;
  box-sizing: border-box;
  padding: 10px;
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
  .portfolio {
    &__aside {
      height: 100%;
    }
  }
}
