.portfolio {
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__aside {
    flex: 0 0 100%;
  }
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
  .portfolio {
    &__body {
      flex-direction: row;
    }
    &__aside {
      flex: 0 0 150px;
    }
    &__projects {
      padding: 0 10px;
      height: 100%;
    }
  }
}

//  WIDE 980 px
@media screen and (min-width: 980px) {
  .portfolio {
    &__aside {
      flex: 0 0 200px;
    }
  }
}
