.portfolioAside {
  width: 100%;
  padding: 20px 15px;
  box-sizing: border-box;
}

.portfolioFilter {
  &__list {
    display: flex;
    color: #aaa;
  }
  &__item {
    flex: 0 0 calc(100% / 3);
    text-align: center;
    padding: 0 3px;
    box-sizing: border-box;
  }
  &__btn {
    cursor: pointer;

    padding: 3px;
    border: 1px solid #aaa;
    transition: 0.2s;
    &:hover {
      border: 1px solid #fff;
      color: #fff;
    }
    &_active {
      color: #fff;
      background: #0088ff;
      border: 1px solid #0088ff;
    }
  }
}

.portfolioSort {
  &__list {
    @extend .portfolioFilter__list;
  }
  &__item {
    @extend .portfolioFilter__item;
  }
  &__btn {
    @extend .portfolioFilter__btn;
    &_active {
      @extend .portfolioFilter__btn_active;
    }
  }
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
  .portfolio {
    &__aside {
      height: 100%;
    }
  }
}

.projectsFilter {
}

//  WIDE 480 px
@media screen and (min-width: 480px) {
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
}

//  WIDE 980 px
@media screen and (min-width: 980px) {
}
