.categories {
  display: flex;
  margin: 0 0 25px 0;
}
.mixitup-control-active {
  background: #0088ff;
  color: #fff;
  &:hover {
    color: #122738;
  }
}

.skills {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 15px 0;
  }
}

.skill {
  flex: 0 0 calc(100% / 8);
  margin: 0 0 40px 0;
  padding: 0 25px;
  box-sizing: border-box;
  overflow: hidden;
  &__link {
    padding: 10px;
    text-align: center;
    display: block;
    color: #79589f;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    transition: 0.3s;
    &:hover {
      background: #cdcdcd;
    }
  }
  &__imgWrap {
    background: #eee;
    width: 60px;
    height: 60px;
    margin: 0 auto 20px auto;
    display: flex;
    border-radius: 100%;
  }
  &__img {
    width: 25px;
    height: 25px;
    display: block;
    margin: auto;
  }
  &__text {
    color: #122738;
    font-weight: 100;
    letter-spacing: 1.2px;
  }
}

.categoryControl {
  margin: 0 0 0 10px;
  &__delete {
    color: red;
  }
}

.skillControl {
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
}

//  WIDE 480 px
@media screen and (min-width: 480px) {
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
}

//  WIDE 980 px
@media screen and (min-width: 980px) {
}
