.about {
  min-height: calc(100vh - 250px);
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__photoBlock {
    flex: 0 0 100%;
  }
  &__img {
    width: 150px;
    filter: grayscale(20%);
  }
  &__name {
    color: #122738;
    font-size: 22px;
    margin: 20px 0 10px 0;
  }
  &__summary {
    flex: 0 0 100%;
    text-indent: 25px;
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    box-sizing: border-box;
    align-items: center;
    padding: 10px 5px;
    font-weight: 100;
    color: #122738;
    display: flex;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
  }
  &__contact {
    display: flex;
    margin: 0 0px 5px 0;
  }
  &__icon {
    width: 25px;
    display: block;
    line-height: 25px;
    margin: 0 10px 0 0;
    color: #777;
    text-align: center;
    font-size: 18px;
  }
  &__contactValue {
    line-height: 25px;
  }
}

//  WIDE 480 px
@media screen and (min-width: 480px) {
  .about {
    &__photoBlock {
      flex: 0 0 100%;
      flex-wrap: wrap;
      display: flex;
    }
    &__imgWrap {
      flex: 0 0 50%;
      width: 50%;
      order: 1;
    }
    &__img {
      width: 150px;
    }
    &__name {
      font-size: 24px;
      margin: 20px 0 10px 0;
      flex: 0 0 100%;
      order: 3;
    }
    &__social {
      order: 4;
      margin: 25px 0;
    }
    &__contacts {
      flex: 0 0 50%;
      order: 2;
      margin: 0px 0;
    }
    &__summary {
      flex: 0 0 100%;
      text-indent: 25px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: normal;
      align-items: center;
      padding: 10px 5px;
    }
  }
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
  .about {
    &__photoBlock {
      flex: 0 0 100%;
    }
    &__imgWrap {
      flex: 0 0 50%;
      order: 1;
    }
    &__img {
      width: 200px;
    }
    &__name {
      font-size: 26px;
      margin: 35px 0 0px 0;
      flex: 0 0 50%;
      order: 3;
    }
    &__social {
      order: 4;
      margin: 20px 0;
    }
    &__contacts {
      flex: 0 0 50%;
      order: 2;
    }
    &__summary {
      text-indent: 25px;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.2px;
      align-items: center;
      padding: 20px 0px;
    }
  }
}

//  WIDE 980 px
@media screen and (min-width: 980px) {
  .about {
    &__body {
      flex-direction: row;
    }
    &__photoBlock {
      flex: 0 0 35%;
    }
    &__imgWrap {
      flex: 0 0 100%;
      order: 1;
    }
    &__img {
      width: 200px;
    }
    &__name {
      font-size: 28px;
      margin: 35px 0;
      flex: 0 0 100%;
      order: 2;
    }
    &__social {
      order: 4;
      margin: 20px 0 0 0;
    }
    &__contacts {
      flex: 0 0 100%;
      order: 2;
    }
    &__summary {
      flex: 0 0 65%;
      text-indent: 35px;
      font-size: 20px;
      line-height: 28px;
      align-items: center;
      padding: 0px 10px 0 0;
    }
  }
}
