.about {
  &__body {
    display: flex;
  }
  &__photoBlock {
    flex: 0 0 35%;
  }
  &__describeBlock {
    flex: 0 0 65%;
    text-indent: 35px;
    text-align: justify;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
    box-sizing: border-box;
    align-items: center;
    padding: 25px;
    background: #122738;
    font-weight: 100;
    color: #fff;
    display: flex;
  }
  &__icon {
    width: 25px;
    display: block;
    line-height: 25px;
    margin: 0 10px 0 0;
    color: #777;
    text-align: center;
    font-size: 18px;
  }
  &__name {
    color: #122738;
    font-size: 28px;
    margin: 20px 0 10px 0;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
  }
  &__contact {
    display: flex;
    margin: 0 0px 5px 0;
  }
  &__contactIcon {
    display: block;
    width: 30px;
    height: 30px;
    padding: 7px;
    box-sizing: border-box;
    margin: 0 5px 0 0;
    background: #122738;
    text-align: center;
    color: #aaa;
  }
  &__contactValue {
    line-height: 25px;
  }
}
