.app {
  position: absolute;
  top: 0;
  left: 50px;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  min-width: 250px;
  width: calc(100% - 50px);
}

.hide {
  display: none !important;
}

.container {
  width: 100%;
  min-width: 250px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.main {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  min-height: 100vh;
  display: flex;
  min-width: 250px;
}

.page {
  width: 100%;
  &__body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.section {
  width: 100%;
  background: #fff;
  padding: 30px 0px 50px 0;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  &__title {
    font-size: 26px;
    letter-spacing: 1.5px;
    color: #122738;
    padding: 0 0 35px 0;
  }
}

.error {
  color: red;
  padding: 3px 5px;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.tooltip {
  background: #122738;
  display: none;
  animation: shake 0.3s;
  color: #fff;
  text-align: center;
  position: absolute;
  padding: 5px 10px;
  width: 80px;
  box-sizing: border-box;
  left: -5px;
  bottom: -35px;
  &:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #122738;
    transform: rotate(45deg);
    top: -5px;
    left: calc(50% - 5px);
  }
}

.btn {
  text-align: center;
  padding: 7px 12px;
  cursor: pointer;
  color: #aaa;
  background: #fff;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background: #fff;
  &:hover {
    color: #122738;
  }
  &_active{
    background: #0088ff;
    color: #fff;
  }
  &:first-child {
    border-left: 1px solid #aaa;
  }
}

//  WIDE 480 px
@media screen and (min-width: 480px) {
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
}

//  WIDE 980 px
@media screen and (min-width: 980px) {
}
