.authBtn {
    flex: 0 0 50px;
    padding: 0 0 50px 0;
    width: 100%;
    background: #122738;
    text-align: center;
    &__loginBtn {
      background-color: transparent !important;
      box-shadow: none !important;
      outline: none !important;
      & > div {
        padding: 0px !important;
        margin: 0 !important;
        background-color: transparent !important;
      }
    }
    &__tooltip{
      left: calc(100% + 10px);
    }
  }