.carousel {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  &__control {
    flex: 0 0 50px;
    text-align: center;
    color: #122738;
    font-size: 28px;
    cursor: pointer;
    &:hover{
        color: #0088ff;
    }
    &_disabled{
      cursor: auto;
      opacity: .3;
      &:hover{
        color: #122738;
      }
    }
  }
  &__wrapper{
      overflow: hidden;
      flex: 0 0 calc(100% - 100px);
  }
  &__list{
    display: flex;
    align-items: center;
  }
  &__item{
    flex: 0 0 0px;
    box-sizing: border-box;
    overflow: hidden;
    transition: .3s ease-out;
  }
}
