.input {
  &__wrap {
    margin: 15px 0;
  }
  &__item {
    padding: 5px 15px;
    border: 1px solid #777;
    margin: 5px 0 15px 0;
    border-radius: 5px;
  }
  &__title {
    font-weight: bold;
  }
}
