.exp {
  display: flex;
  position: relative;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    flex: 0 0 100%;
    display: flex;
    margin: 0 0px 30px 0px;
  }
  &__card {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
  }
  &__img {
    width: 40px;
    height: 40px;
    display: block;
    padding: 5px;
    margin: 0 10px 0px 0;
    border: 1px solid #aaa;
    box-sizing: border-box;
    background-color: #fff;
  }
  &__content {
    display: flex;
    flex: 0 0 calc(100% - 50px);
    flex-direction: column;
    order: 2;
  }
  &__title {
    font-weight: bold;
    font-size: 16px;
    color: #122738;
    order: 1;
    flex: 100%;
  }
  &__company {
    color: #122738;
    font-size: 14px;
    order: 2;
  }
  &__date {
    color: #777;
    font-weight: 100;
    font-size: 14px;
    order: 3;
  }
}

//  WIDE 480 px
@media screen and (min-width: 480px) {
  .exp {
    position: relative;
    &__item {
      flex: 0 0 100%;
      margin: 0 0px 30px 0px;
    }
    &__img {
      width: 50px;
      height: 50px;
      padding: 5px;
      margin: 0 15px 0px 0;
    }
    &__content {
      display: flex;
      flex: 0 0 calc(100% - 65px);
      flex-direction: column;
    }
    &__title {
      font-size: 18px;
      flex: 100%;
    }
    &__company {
      font-size: 16px;
    }
  }
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
  .exp {
    position: relative;
    &__item {
      flex: 0 0 50%;
      margin: 0 0px 40px 0px;
    }
    &__img {
      width: 50px;
      height: 50px;
      padding: 5px;
      margin: 0 15px 0px 0;
      order: 1;
    }
    &__content {
      display: flex;
      flex: 0 0 calc(100% - 65px);
      flex-direction: column;
    }
  }
}

//  WIDE 980 px
@media screen and (min-width: 980px) {
  .exp {
    position: relative;
    &__item {
      flex: 0 0 50%;
      margin: 0 0px 50px 0px;
    }
    &__img {
      width: 60px;
      height: 60px;
      padding: 10px;
      margin: 0 20px 0px 0;
      order: 1;
    }
    &__content {
      flex: 0 0 calc(100% - 90px);
    }
    &__title {
      font-size: 20px;
      margin: 0 0 10px 0;
    }
    &__company {
      font-size: 18px;
      margin: 0 0 10px 0;
    }
  }
}
