.project {
  color: #122738;
  &__main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  &__aboutSection {
    flex: 0 0 100%;
    margin: 30px 0 0 0;
  }
  &__pictureSection {
    flex: 0 0 100%;
  }
  &__picture {
    border: 1px solid #777;
    min-height: 250px;
    width: 100%;
  }
  &__title {
    padding: 0 0 15px 0;
    font-size: 26px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
  }
  &__subtitle {
    font-weight: bold;
    padding: 0 0 15px 0;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
  }
  &__description {
    margin: 0 0 10px;
    line-height: 20px;
  }
  &__date {
    color: #aaa;
    margin: 0 0 10px 0;
  }
  &__level {
    color: #fff;
    background: #122738;
    display: inline-block;
    text-transform: uppercase;
    padding: 5px 25px;
    margin: 0 0 20px 0;
  }
  &__btns {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 0;
  }
  &__btn {
    background-color: #0088ff;
    margin: 0 0 10px 0;
    display: block;
    color: #fff;
    text-align: center;
    width: 100%;
    max-width: 350px;
    padding: 10px 0;
    border-radius: 5px;
    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  }
  &__btnIcon {
    color: #122738;
    margin: 0 5px 0 0;
    padding: 0;
  }
  &__skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10px 0 0 0;
  }
  &__similarLink {
    width: 100%;
    display: block;
    overflow: hidden;
    text-align: center;
    border: 1px solid #aaa;
    position: relative;
  }
  &__similarImg {
    width: 100%;
  }
  &__similarTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    color: #122738;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #aaa;
  }
  &__rateBlock {
    margin: 50px 0 0 0;
  }
  &__rate {
    display: flex;
  }
  &__rateItem {
    &:hover {
      .project__rateLen {
        opacity: 1;
      }
    }
  }
  &__rateIcon {
    color: #777;
    &:hover {
      color: #777;
    }
    &_positive {
      color: #0088ff;
    }
    &_negative {
      color: red;
    }
  }
  &__rateLen {
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0088ff;
    color: #fff;
    font-size: 11px;
    width: 16px;
    opacity: 0;
    line-height: 16px;
    text-align: center;
  }
  &__rateValue {
    font-weight: bold;
    color: #122738;
  }
  &__sliderDots {
    top: 100%;
  }
}

//  WIDE 480 px
@media screen and (min-width: 480px) {
  .project {
    &__picture {
      width: 350px;
      margin: 0 auto;
      display: block;
    }
    &__description {
      margin: 0 0 15px;
    }
    &__date {
      margin: 0 0 15px 0;
    }
    &__skill {
      width: 50px;
      height: 50px;
    }
    &__skillImg {
      width: 20px;
      height: 20px;
    }
  }
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
  .project {
    &__main {
      flex-wrap: nowrap;
    }
    &__aboutSection {
      flex: 0 0 60%;
      margin: 0;
      padding: 0 0 0 30px;
      box-sizing: border-box;
    }
    &__pictureSection {
      flex: 0 0 40%;
    }
    &__picture {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
    }
    &__skill {
      width: 60px;
      height: 60px;
    }
    &__skillImg {
      width: 25px;
      height: 25px;
    }
    &__similarTitle {
      font-size: 14px;
    }
  }
}

//  WIDE 980 px
@media screen and (min-width: 980px) {
  .project {
    &__info {
      width: 100%;
    }
    &__picture {
      width: 450px;
      min-height: 450px;
      margin: 0;
    }
    &__similarTitle {
      font-size: 16px;
    }
  }
}

.slick-slide {
  padding: 0 5px;
  box-sizing: border-box;
}
