.project {
  color: #122738;
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__info{
    flex: 1 1 50%;
    order: 2;
  }
  &__picture {
    width: 100%;
    min-height: 200px;
  }
  &__title {
    font-size: 22px;
    margin: 0 0 10px 0;
  }
  &__description {
    margin: 0 0 10px;
    line-height: 20px;
  }
  &__date {
    color: #aaa;
    margin: 0 0 10px 0;
  }
  &__level {
    color: #fff;
    background: #122738;
    display: inline-block;
    text-transform: uppercase;
    padding: 5px 25px;
  }
  &__skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10px 0 0 0;
  }
  &__similarLink{
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  &__similarImg{
    width: 100%;
  }
  &__similarTitle {
    display: none;
  }
  &__sourceList{
    display: flex;
    justify-content: center;
  }
  &__rate{
    display: flex;
    justify-content: center;
    &:hover{
      .project__rateLen{
        opacity: 1;
      }
    }
  }
  &__rateLen{
    transition: .3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0088ff;
    color: #fff;
    font-size: 11px;
    width: 16px;
    opacity: 0;
    line-height: 16px;
    text-align: center;
  }
  &__rateValue {
    font-weight: bold;
    color: #122738;
  }
}

.comment {
  margin: 3px auto 35px auto;
  width: 100%;
  max-width: 800px;
  &:hover {
    .comment__delete {
      right: -10px;
      opacity: 1;
    }
  }
  &__meta {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
  }
  &__date {
    color: #aaa;
    line-height: 27px;
  }
  &__body {
    display: flex;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #eee;
  }
  &__avatar {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 15px 0 0;
  }
  &__text {
    font-size: 16px;
    padding: 0 30px 0 0;
  }
  &__delete {
    transition: 0.4s;
    position: relative;
    opacity: 0;
    right: -20px;
  }
}


//  WIDE 480 px
@media screen and (min-width: 480px) {
  .project {
    &__picture {
      width: 350px;
      min-height: 350px;
      margin: 0 auto;
      display: block;
    }
    &__title {
      font-size: 24px;
      margin: 0 0 15px 0;
    }
    &__description {
      margin: 0 0 15px;
    }
    &__date {
      margin: 0 0 15px 0;
    }
    &__skill {
      width: 50px;
      height: 50px;
    }
    &__skillImg {
      width: 20px;
      height: 20px;
    }
  } 
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
  .project {
    &__picture {
      width: 400px;
      min-height: 400px;
      margin: 0 auto;
    }
    &__title {
      font-size: 26px;
      margin: 0 0 15px 0;
    }
    
    &__skill {
      width: 60px;
      height: 60px;
    }
    &__skillImg {
      width: 25px;
      height: 25px;
    }
    &__similarTitle {
      display: block;
      color: #122738;
      font-size: 14px;
    }
  } 
}

//  WIDE 980 px
@media screen and (min-width: 980px) {
  .project {
    &__picture {
      width: 450px;
      min-height: 450px;
      margin: 0;
    }
    &__title {
      font-size: 32px;
    }
    &__similarTitle {
      font-size: 16px;
      margin: 10px 0;
    }
  } 
}
