.portfolio {
  display: flex;
  flex-direction: column;
  &__container {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
  }
  &__filter {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-size: 22px;
    margin: 10px 0 5px 0;
    font-family: "Montserrat", sans-serif;
  }
  &__content {
    display: flex;
  }
}

.projects {
  flex: 1 1 50%;
  order: 2;
  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1170px;
    margin: auto;
  }
}

.projectItem {
  margin: 0px 0 25px 0;
  flex: 0 0 100%;
  padding: 0 5%;
  box-sizing: border-box;
  text-align: center;
  background: #fff;
  display: block;
  &__link {
    position: relative;
    width: 100%;
    border: 1px solid #aaa;
    box-sizing: border-box;
    display: block;
    &:hover {
      .projectItem__meta {
        height: 50px;
      }
    }
  }
  &__body {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0px;
    background: #fff;
    padding: 0 0 15px 0;
  }
  &__meta {
    overflow: hidden;
    height: 0;
    transition: 0.4s;
  }
  &__img {
    width: 100%;
  }
  &__title {
    font-size: 18px;
    font-variant: small-caps;
    color: #122738;
    padding: 15px 0 5px 0;
  }
  &__level {
    font-size: 12px;
    letter-spacing: 1.2px;
    font-weight: bold;
    background: #122738;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 3px 15px;
    margin: 0 0 5px 0;
  }
  &__date {
    font-size: 12px;
    color: #999;
    margin: 10px 0 0 0;
  }
}

.projectSkillsList {
  display: flex;
  justify-content: center;
  &__item {
    width: 30px;
    height: 30px;
    background: #fff;
    position: relative;
    display: flex;
  }
  &__img {
    margin: auto;
    width: 16px;
    height: 16px;
  }
}

.pagination {
  margin: 0 auto 50px auto;
  display: flex;
  &__item {
    color: #aaa;
    background: #fff;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    width: 40px;
    height: 40px;
    display: block;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    &:hover {
      color: #122738;
    }
    &_active {
      background: #0088ff;
      color: #fff;
    }
  }
  &:last-child {
    border-left: 1px solid #aaa;
  }
}


//  WIDE 480 px
@media screen and (min-width: 480px) {
  .projectItem {
    margin: 0px 0 25px 0;
    flex: 0 0 50%;
    padding: 0 10px;
    min-height: 210px;
    &__title {
      font-size: 18px;
      letter-spacing: 0.6px;
    }
  }
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
  .projectItem {
    margin: 0px 0 25px 0;
    flex: 0 0 33%;
    padding: 0 10px;
    min-height: 170px;
  }
}

//  WIDE 980 px
@media screen and (min-width: 980px) {
}


//  WIDE 1170 px
@media screen and (min-width: 1170px) {
  
}
