.project {
  color: #122738;
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__info{
    flex: 1 1 50%;
  }
  &__picture {
    width: 500px;
    min-height: 500px;
  }
  &__title {
    font-size: 36px;
    margin: 0 0 20px 0;
  }
  &__description {
    font-size: 18px;
    margin: 0 0 15px;
  }
  &__date {
    color: #aaa;
    margin: 0 0 15px 0;
  }
  &__level {
    color: #fff;
    background: #122738;
    display: inline-block;
    text-transform: uppercase;
    padding: 5px 25px;
  }
  &__skills {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin: 10px 0 0 0;
  }
  &__skill {
    border: 1px solid #aaa;
    border-right: none;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    &:last-child {
      border-right: 1px solid #aaa;
    }
    &:hover {
      .social__tooltip {
        display: block;
      }
    }
  }
  &__skillImg {
    width: 30px;
    height: 30px;
  }
  &__similarLink{
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  &__similarImg{
    width: 100%;
  }
  &__similarTitle {
    color: #122738;
    font-size: 18px;
  }
  &__sourceList{
    display: flex;
    justify-content: center;
  }
  &__rate{
    display: flex;
    justify-content: center;
    &:hover{
      .project__rateLen{
        opacity: 1;
      }
    }
  }
  &__rateLen{
    transition: .3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0088ff;
    color: #fff;
    font-size: 11px;
    width: 16px;
    opacity: 0;
    line-height: 16px;
    text-align: center;
  }
  &__rateValue {
    font-weight: bold;
    color: #122738;
  }
}

.comment {
  margin: 3px auto 35px auto;
  width: 100%;
  max-width: 800px;
  &:hover {
    .comment__delete {
      right: -10px;
      opacity: 1;
    }
  }
  &__meta {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
  }
  &__date {
    color: #aaa;
    line-height: 27px;
  }
  &__body {
    display: flex;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #eee;
  }
  &__avatar {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 15px 0 0;
  }
  &__text {
    font-size: 16px;
    padding: 0 30px 0 0;
  }
  &__delete {
    transition: 0.4s;
    position: relative;
    opacity: 0;
    right: -20px;
  }
}

.addComment {
  display: flex;
  width: 100%;
  max-width: 600px;
  flex-direction: column;
  margin: 0 auto 50px auto;
  position: relative;
  &__textArea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    outline: none;
    border: 1px solid #ccc;
    padding: 5px 35px 5px 5px;
  }
  &__btn {
    background: #0088ff;
    text-align: center;
    border: none;
    text-transform: uppercase;
    font-family: arial;
    font-size: 12px;
    color: #fff;
    padding: 10px 0;
    cursor: pointer;
  }
  &__avatar {
    position: absolute;
    height: 30px;
    top: 0;
    right: 0;
  }
  &__icon {
    margin: 0 10px 0 0;
    font-weight: bold;
  }
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
  .aboutProject {
    width: 100%;
    &__item {
      flex-direction: row;
    }
    &__contentKey {
      flex: 0 0 25%;
    }
  }
  .projectSkills {
    width: 50%;
  }
  .projectRate {
    width: 50%;
  }
}

//  WIDE 980 px
@media screen and (min-width: 980px) {
  .projectImg {
    width: 50%;
    padding: 0 15px 0 0;
    box-sizing: border-box;
  }
  .aboutProject {
    width: 50%;
  }
}
