.categories {
  display: flex;
  flex-direction: column;
  margin: 0 0 25px 0;
  .btn {
    border-bottom: none;
    border-left: 1px solid #aaa;
    &:last-child {
      border-bottom: 1px solid #aaa;
    }
  }
}

.mixitup-control-active {
  background: #0088ff !important;
  color: #fff !important;
  &:hover {
    color: #122738 !important;
  }
}

.skills {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.skill {
  flex: 0 0 calc(100% / 5);
  margin: 0 0 30px 0;
  overflow: hidden;
  &__imgWrap {
    display: flex;
  }
  &__img {
    width: 60%;
    max-width: 40px;
    display: block;
    margin: auto;
  }
  &__text {
    display: none;
  }
}

//  WIDE 480 px
@media screen and (min-width: 480px) {
  .categories {
    flex-direction: row;
    margin: 0 0 30px 0;
    .btn {
      border-left: none;
      font-size: 14px;
      border-bottom: 1px solid #aaa;
    }
  }
  .skill {
    flex: 0 0 calc(100% / 8);
    margin: 0 0 40px 0;
    &__img {
      width: 50%;
    }
  }
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
  .categories {
    .btn {
      font-size: 16px;
    }
  }
  .skill {
    flex: 0 0 calc(100% / 8);
    margin: 0 0 40px 0;
    text-align: center;
    &__img {
      width: 30px;
    }
    &__text {
      display: block;
      letter-spacing: 0.1px;
      margin: 10px 0 0 0;
      color: #122738;
      font-size: 12px;
    }
  }
}

//  WIDE 980 px
@media screen and (min-width: 980px) {
  .skill {
    flex: 0 0 calc(100% / 8);
    margin: 0 0 40px 0;
    text-align: center;
    &__img {
      width: 40px;
    }
    &__text {
      display: block;
      font-size: 16px;
    }
  }
}
