.projects {
  &__list {
    display: flex;
    flex-direction: column;
  }
}

.projectItem {
  margin: 0px 0 25px 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  position: relative;
  z-index: 1;
  &__decor {
    position: absolute;
    width: 80%;
    height: 100%;
    right: 0;
    top: 0;
    overflow: hidden;
    z-index: -1;
    &:after {
      content: "";
      transform: rotate(-15deg);
      width: 90%;
      height: 90%;
      bottom: -140px;
      opacity: 0.3;
      right: -50px;
      background: linear-gradient(300deg, #283048, #859398);
      position: absolute;
    }
  }
  &__img {
    padding: 8px;
    width: 300px;
    height: 250px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  }
  &__body {
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__top {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    flex: 0 0 10%;
  }
  &__title {
    font-size: 32px;
    color: #0088ff;
    background: #fff;
    text-align: center;
    padding: 5px 25px;
    text-transform: capitalize;
  }
  &__description {
    flex: 1 1 60%;
    padding: 0 0 10px 0;
  }
  &__level {
    position: absolute;
    top: 10px;
    right: 0;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px 30px;
    letter-spacing: 1.5px;
    color: #fff;
    &_best {
      background: #0088ff;
    }
    &_medium {
      background: #283048;
    }
    &_simple {
      background: #859398;
    }
  }
  &__date {
    color: #859398;
    font-size: 18px;
    margin: 0 0 0 15px;
  }
  &__btn {
    background: #0088ff;
    color: #fff;
    padding: 10px 30px;
    align-self: flex-start;
    text-align: center;
    text-shadow: 1px 1px 1px #283048;
    font-size: 22px;
    opacity: 0.8;
    flex: 0 0 8%;
    &:hover {
      opacity: 1;
    }
  }
}

.projectSkillsList {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 10px;
  &__item {
    width: 40px;
    height: 40px;
    background: #fff;
    position: relative;
    display: flex;
    &:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      right: 0;
      top: 0;
      background: #eee;
    }
  }
  &__item:last-child {
    &::after {
      display: none;
    }
  }

  &__img {
    margin: auto;
    width: 20px;
    height: 20px;
  }
}
