.authMenu {
  &__login {
    height: 100%;
    display: flex;
  }
  &__loginBtn {
    box-shadow: none !important;
    & > div {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
  &__user {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__ava {
    width: 28px;
    border-radius: 50%;
    margin: 0 10px 0 0;
  }
  &__out {
    color: red;
    opacity: 0.4;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
