.projectItem {
  flex: 0 0 100%;
  padding: 0 10px 25px 10px;
  box-sizing: border-box;
  &__inner {
    overflow: hidden;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    background: #fff;
    position: relative;
    &:hover {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
      .projectItem__medias {
        top: 10px;
      }
    }
  }

  &__level {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 3px 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

    color: gray;
    text-shadow: -1px 1px 1px rgba(255, 255, 255, 0.6);
    letter-spacing: 0.8px;
    font-weight: bold;
    &_simple {
      background: #e0e0e0;
    }
    &_medium {
      background: #4dd0e1;
    }
    &_best {
      background: #ffc107;
    }
  }
  &__img {
    width: 100%;
  }
  &__body {
    padding: 20px 10px;
    background: #fff;
  }

  &__title {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
    margin: 0 0 10px 0;
  }

  &__description {
    margin: 0 0 10px 0;
    font-size: 14px;
    letter-spacing: 1px;
  }

  &__btn {
    background: #2196f3;
    padding: 5px 15px;
    color: #fff;
    margin: 25px auto 0 auto;
    display: block;
    text-align: center;
    &:hover {
      background: #1e88e5;
    }
  }

  &__skills {
    display: flex;
    background: #fafafa;
    padding: 5px 5px 2px 5px;
    box-sizing: border-box;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  }
  &__skill {
    flex: 0 0 calc(100% / 8);
  }
  &__skillImg {
    width: 20px;
  }
  &__date {
    color: #757575;
    text-align: right;
    margin: 15px 0 0 0;
  }
  &__medias {
    position: absolute;
    transition: 0.3s;
    top: -30px;
    right: 10px;
    background: rgba(255, 255, 255, 0.7);
    padding: 2px;
  }
  &__media {
    margin: 0 3px;
    color: gray;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}

//  WIDE 480 px
@media screen and (min-width: 480px) {
  .projectItem {
    flex: 0 0 50%;
  }
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
  .projectItem {
    flex: 0 0 50%;
  }
}

//  WIDE 980 px
@media screen and (min-width: 980px) {
  .projectItem {
    flex: 0 0 25%;
  }
}
