.category {
  &__item {
    display: flex;
    font-weight: bold;
    line-height: 27px;
    color: #122738;
    margin: 0px 0 15px 0;
  }
}

.skills {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 15px 0;
  }
}

.skill {
  box-sizing: border-box;
  flex: 0 0 calc(100% / 7);
  padding: 0 25px;
  margin: 0 0 40px 0;
  &:hover {
    .skill__img {
      filter: none;
      opacity: 1;
    }
  }
  &__link {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #79589f;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
  }
  &__img {
    width: 50px;
    display: block;
    margin: 0 auto 20px auto;
    filter: grayscale(100);
    opacity: 0.6;
  }
}

.categoryControl {
  margin: 0 0 0 10px;
  &__delete {
    color: red;
  }
}

.skillControl {
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
}

//  WIDE 480 px
@media screen and (min-width: 480px) {
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
}

//  WIDE 980 px
@media screen and (min-width: 980px) {
}
