.category {
  &__item {
    display: flex;
    font-weight: bold;
    line-height: 27px;
    color: #122738;
    padding: 0px 0 10px 0;
  }
}

.skills {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 15px 0;
  }
}

.skill {
  box-sizing: border-box;
  &__img {
    padding: 15px;
    border: 1px solid #eee;
    border-right: 0px;
    width: 22px;
  }
  &:last-child {
    .skill__img {
      border: 1px solid #eee;
    }
  }
}

.categoryControl {
  margin: 0 0 0 10px;
  &__delete {
    color: red;
  }
}

.skillControl {
  display: flex;
  align-items: center;
}

//  WIDE 480 px
@media screen and (min-width: 480px) {
  .skill {
    flex: 0 0 calc(100% / 10);
  }
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
  .skill {
    flex: 0 0 calc(100% / 14);
  }
}

//  WIDE 980 px
@media screen and (min-width: 980px) {
  .skill {
    flex: 0 0 calc(100% / 20);
  }
}
