.home {
  width: 100%;
  min-width: 270px;
  display: flex;
  z-index: 1;
  overflow: hidden;
  background: url("../../../assets/homebg.jpg");
  background-size: cover;
  &__top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    overflow: hidden;
    opacity: 0.5;
    z-index: 0;
    &:after {
      content: "";
      position: absolute;
      background: linear-gradient(300deg, #283048, #859398);
      width: 200%;
      height: 70%;
      left: -100px;
      top: -100px;
      transform: rotate(-3deg);
    }
  }
  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    overflow: hidden;
    opacity: 0.8;
    z-index: -1;
    &:after {
      content: "";
      position: absolute;
      background: linear-gradient(to top, #314755, #26a0da);
      width: 200%;
      height: 80%;
      left: -100px;
      bottom: -100px;
      transform: rotate(8deg);
    }
  }
  &__left {
    flex: 1 1 100%;
    position: relative;
    z-index: 1;
  }
  &__right {
    display: none;
  }
  &__name {
    position: absolute;
    top: 10%;
    right: 0;
    font-size: 22px;
    background: #0088ff;
    padding: 10px 20px;
    opacity: 0;
    transition: 0.4s ease-in;
    color: #fff;
    &_active {
      opacity: 1;
      top: 15%;
    }
  }
  &__social {
    position: absolute;
    left: 0%;
    animation: homesocial 0.6s ease-in-out 0.3s forwards;
  }
  &__surname {
    position: absolute;
    background: #122738;
    font-size: 18px;
    padding: 8px 15px;
    color: #aaa;
    top: 25%;
    left: 0%;
    letter-spacing: 1.5px;
    opacity: 0;
    transition: 0.6s ease-in;
    &_active {
      opacity: 1;
      top: 20%;
    }
  }
  &__title {
    position: absolute;
    top: 50%;
    right: 100%;
    font-size: 22px;
    padding: 12px 15px;
    color: #fff;
    border-bottom: 3px solid #0088ff;
    background: #aaa;
    white-space: nowrap;
    text-shadow: 1px 1px 1px rgba(18, 39, 56, 0.8);
    transition: 0.8s cubic-bezier(0.47, 0.07, 0.59, 1.57);
    &_active {
      right: 0%;
    }
  }
}

//  WIDE 480 px
@media screen and (min-width: 480px) {
}

//  WIDE 600 px
@media screen and (min-width: 600px) {
  .home {
    &__right {
      display: block;
      flex: 0 0 50%;
      position: relative;
      background: radial-gradient(circle, #122738, #122738 1px, #eee 0, #eee) 0
        0/25px 25px;
    }
    &__name {
      font-size: 24px;
      padding: 12px 24px;
    }
    &__surname {
      font-size: 20px;
      padding: 10px 16px;
      left: 100%;
    }
    &__title {
      font-size: 22px;
      padding: 14px 18px;
    }
    &__social {
      left: 100%;
    }
  }
}

//  WIDE 980 px
@media screen and (min-width: 980px) {
  .home {
    &__name {
      font-size: 42px;
      padding: 26px 38px;
    }
    &__surname {
      font-size: 30px;
      padding: 22px 36px;
      left: 100%;
    }
    &__title {
      font-size: 36px;
      padding: 18px 30px;
    }
  }
}
