.singleControll {
  &__body {
    display: flex;
  }
  &__item {
    margin: 5px;
    cursor: pointer;
    color: gray;
    &:before {
      margin: 0 5px 0 0;
    }
  }
  &__delete {
    color: red;
  }
}
