.comment {
  margin: 3px 0 15px 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: #fff;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  &__user {
    width: 60px;
  }
  &__avatar {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    border: 1px solid gray;
  }
  &__name {
    margin: 10px 0 0 0;
    font-size: 11px;
  }
  &__text {
    font-size: 16px;
  }
}
