.about {
  &__body {
    display: flex;
  }
  &__imgWrap {
    flex: 0 0 150px;
    height: 150px;
    overflow: hidden;
    background: #eee;
    border: 1px solid #aaa;
    margin: 0 15px 0 0;
  }
  &__img {
    width: 100%;
  }
  &__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__name {
    color: #122738;
    font-size: 22px;
    margin: 0 0 10px 0;
  }
  &__text {
    margin: 15px 0 0 0;
    text-indent: 35px;
    font-size: 16px;
    line-height: 22px;
    min-height: 70px;
  }
  &__contacts {
    display: flex;
    // flex-direction: column;
    margin: 5px 0 30px 0;
  }
  &__contact {
    display: flex;
    margin: 0 30px 3px 0;
  }
  &__contactIcon {
    display: block;
    width: 25px;
    line-height: 25px;
    margin: 0 5px 0 0;
    background: #122738;
    text-align: center;
    color: #aaa;
  }
  &__contactValue {
    line-height: 25px;
  }
}
